body, html {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .footer {
    background-color: #333;
    color: white;
    width: max-content;
    height: 100%;
  
  }
  .top-section{

    padding-top: 20px;
    align-items: center;
    display: flex;
    align-items: center;
    padding-bottom: 80px;
  }
  .top-section a{
   display: inline-block;
   padding: 10px 20px;
   background-color: darkgray;
   color: aliceblue;
   text-decoration: none;
   margin: auto;
   transition: background-color 0.3s, color 0.3s;
  }
  .top-section a:hover{
    background-color: yellow;
    color: black;
  }
  .contact{
    display: inline;
    padding: 30px 30px;
    text-align: center;
  }
  
  .button {
     background-color: yellow; 
     border: none; 
     color: black; 
     padding: 10px; 
     text-align:center; 
     display:inline-block; 
  }
  
  .contact {
     margin-right:auto; /* Aligns to the right */
  }
  
  .bottom-section ul.nav-links,
  .bottom-section .social-icons {
     display:inline-block;
  }
  